#header {
  color: gold;
}

.food {
  background-color: cornsilk;
  width: 60%;
  border: black solid;
  border-radius: 15px;
  padding: 25px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#foodImg {
  float: right;
}

#foodDetail{
  width: 60%;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  clear: right;
}

#score {
  color: blueviolet;
  background-color: lime;
  border: black solid;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 22px;
  margin: 0 10px;
}

#vote {
  padding: 5px;
  height: 30px;
}

#unvote {
  padding: 5px;
  height: 30px;
}
